@model Position

@{
    ViewData["Title"] = "Подробно";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center mb-4">Детально</h2>

<div class="container">
    <div class="card shadow-sm" style="background-color: #333; color: #fff;">
        <div class="card-body">
            <h4 class="card-title text-center mb-4">Должность</h4>
            <dl class="row">
                <dt class="col-sm-4" style="color: #ccc;">
                    @Html.DisplayNameFor(model => model.Name)
                </dt>
                <dd class="col-sm-8" style="color: #fff;">
                    @Html.DisplayFor(model => model.Name)
                </dd>
                <dt class="col-sm-4" style="color: #ccc;">
                    @Html.DisplayNameFor(model => model.Description)
                </dt>
                <dd class="col-sm-8" style="color: #fff;">
                    @Html.DisplayFor(model => model.Description)
                </dd>
                <dt class="col-sm-4" style="color: #ccc;">
                    @Html.DisplayNameFor(model => model.Salary)
                </dt>
                <dd class="col-sm-8" style="color: #fff;">
                    @Html.DisplayFor(model => model.Salary)
                </dd>
            </dl>
        </div>
    </div>
</div>

<div class="text-center mt-3">
    <a asp-action="Edit" asp-route-id="@Model.PositionId" class="btn btn-primary mx-2">Редактировать</a>
    <a asp-action="Index" class="btn btn-secondary mx-2">Вернуться к списку</a>
</div>
